@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

:root{
    color: white;
    font-family: Langar;
}


.modal-button-add{
    display: flex;
    justify-content: center;
}


.heading--text{

font-size: 3em;

text-align: center;
}



.ul-elem {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    text-align: center;
    font-size: 2em;
    border: 1px solid white;
    margin: 1em 0em;
    max-width: 300px;
    max-height: 600px;
    
}


.form{
    display: flex;
    flex-direction: column;
    }


body {
    min-height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/18/16/49/books-1835753_960_720.jpg');
    background-size: cover;
    
}

.line-through{
    text-decoration: line-through;
    color: rgb(73, 105, 66);
}

.adding{
display: flex;
justify-content: center;
}

.cardInput{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}


/* modal */
.modal{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color:rgba(20, 10, 10, 0.5);
    visibility:hidden;
    opacity: 0;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.cancel{
    float: right;
    width:1.5rem;
    text-align: center;
    line-height: 1.5rem;
    cursor:pointer;
    border-radius:0.25rem;
    background-color: rgb(48, 81, 110);
}
.show-modal{
    opacity:1;
    visibility: visible;
    transform: scale(1);
}

@media screen and (max-width: 700px) {
    h1{
        text-align: center;
    }
    
   .cardInput{
       display: block;
   }
}